
# External code

Otros/
Otros/*
_Otros_/
_Otros_/*


# Run files
YOLOv8/runs_*
DETR/lightning_logs*
FASTER-RCNN/lightning_logs*
ULTRALYTICS/runs*

# Pycache
DETR/__pycache__/
FASTER-RCNN/__pycache__/
ULTRALYTICS/__pycache__/

ULTRALYTICS/InBreast-YOLO/fold*
ULTRALYTICS/DDSM-YOLO/fold*

test.txt
DETR/nohup*
